python==3.8.5
pip
numpy
pyside2
pyopengl
pyopengl-accelerate
numba
icc_rt
numexpr
pyzmq
blosc
msgpack-python
vispy>=0.9
pyaudio
pyserial
# for video
av
imageio
scipy
pyopencl
decorator==5.1.1
# for ephyviewer
python-neo>=0.9
pandas
matplotlib
# for neurotic
PyDrive2
pyyaml
tqdm
toml
# for tridesclous
hdbscan
joblib
loky
openpyxl
scikit-learn==1.1.1
scikit-learn-intelex
seaborn
# for pandas html output
jinja2
# for profiling
line_profiler
psutil
yappi
snakeviz
dill
# for hdbscan
cython
# for dall4py
daal