av
blosc
blosc
cython
daal4py
decorator==5.1.1
dill
fastcore
hdbscan
icc_rt
imageio
ipykernel
jinja2
joblib
line_profiler
lmfit
loky
matplotlib
mkl
mkl_fft
msgpack-python
numba
numpy==1.22
openpyxl
pandas
psutil
pyaudio
PyDrive2
pyopencl
pyopengl>=3.1.6
pyqt>=5.12
pyserial
python-neo>=0.9
python==3.8.5
pyyaml
pyzmq
scikit-learn
scipy
seaborn
toml
tqdm
vispy>=0.9
websockets
yappi