python==3.8.5
pip
numpy
pyqtgraph
pyzmq
blosc
msgpack-python
vispy>=0.9
pyaudio
pyserial
# for eeg emotiv functionality
# pycrypto
# pywinusb
# for video
av
imageio
scipy
pyopencl
decorator==5.1.1
# for ephyviewer
python-neo>=0.9
pandas
matplotlib
# for neurotic
PyDrive2
pyyaml
tqdm
toml